language: php

# list any PHP version you want to test against
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

matrix:
  allow_failures:
    - php: 5.4
  fast_finish: true

before_script:
  - composer self-update
  - composer install --no-interaction

script: ./vendor/bin/kahlan --clover=clover.xml
